@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import "tailwindcss";

@tailwind utilities;

@theme {
  --color-cinemind-white: #efead0;
  --color-cinemind-pink: #cf3259;
  --color-cinemind-blue: #22bdff;
  --color-cinemind-yellow: #ffb922;
  --color-cinemind-light: #400e1e;
  --color-cinemind-dark: #210102;

  --font-cinemind-sans: "Josefin Sans", sans-serif;
  --font-cinemind-serif: "EB Garamond", serif;

  /* 
  Animação usada na página Home.
  cubic-bezier(0.16, 1, 0.3, 1) corresponde à curva OutExpo https://easings.net/#easeOutExpo
  */
  --animate-moveout: moveout 1.5s cubic-bezier(0.16, 1, 0.3, 1) forwards;
  @keyframes moveout {
    0% {
      translate: 0%;
    }
    100% {
      translate: 200%;
    }
  }
}
