name: "Front-end: Executar testes"

# Executa quando pushes ou pull requests são feitos a "main" ou "dev",
# mas apenas se o código na pasta frontend mudar.
on:
  push:
    paths:
      - "frontend/**"

    branches:
      - "main"
      - "dev"

  pull_request:
    paths:
      - "frontend/**"

    branches:
      - "main"
      - "dev"

jobs:
  build-and-test:
    name: "Buildar e testar"
    runs-on: "ubuntu-latest"

    steps:
      - name: "Fazer checkout no repositório"
        uses: "actions/checkout@v5"

      - name: "Executar build da imagem do front-end"
        run: "docker compose build frontend"

      - name: "Iniciar container"
        run: "docker compose up frontend -d"

      - name: "Executar testes"
        run: "docker exec cinemind-frontend npm run test"
